<!DOCTYPE html>
<html>
  <% include ../partials/pollHead %>
  <body>
    <!-- Header Partial -->
    <% include ../partials/header %>



    <!-- Main Section where Poll Options Exist -->
    <section id="pollWrap">

      <!-- Loads Admin Partial (conditional) -->
      <%if (!isSent[0].isSent) {%>
        <%if(admin[0].admin) {%>
          <% include ../partials/admin %>
        <%}%>
      <%}%>
      <span>this is admin: <%= admin[0].admin %></span>
      <span>this is isSent: <%= isSent[0].isSent%></span>
      <h3 id="pollQuestion"><%= question[0].question %></h3>
      <h4>Poll expires: <%= expires[0].expire %></h4>
      <!-- Poll List -->
      <section id="pollListWrap">
        <ul id="pollList">
          <%for (let option of options) { %>
            <li class="pollListItem"><%= option.question_text %></li>
          <%}%>
        </ul>
      </section>


      <!-- Loads the Voting Partial (conditional) -->
      <% if(!isSent[0].isSent) {%>
        <%include ../partials/voting%>
      <%}%>


      <!-- Loads the Limbo Partial (conditional) -->
      <% if(!isSent[0].isSent) {%>
        <%include ../partials/limbo%>
      <%}%>


      <!--
        ToDo
        : conditions for vote/update
          : if isSent[0]
            : if voted
        : countdown til close (jQuery UI)
          : end date - current time

       -->

    </section>


    <% include ../partials/footer %>
  </body>
</html>